.contact-section {
  width: 80vw;
  min-width: 320px;
  max-height: 80vh;
  top: 10%;
  left: 10%;
  right: 10%;
  background-color: rgba(141, 141, 141, 0.5);
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 3em 3em;
  color: white;
}

#close-contact-container {
  height: 30px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact-cross {
  height: 100%;
}

#contact-cross:hover {
  cursor: pointer;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#contact-section h1, #contact-section h2 {
  text-align: center;
  font-family: 'Cairo';
  font-size: 2em;
  letter-spacing: 2px;
  margin-top: 0;
}

#contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-section p {
  font-family: 'Open Sans';
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form input {
  width: 16rem;
  height: 2rem;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Open Sans';
}

.contact-form textarea {
  width: 16rem;
  max-width: 16rem;
  min-width: 16rem;
  max-height: 10rem;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Open Sans';
}

.contact-form textarea::-webkit-input-placeholder {
  font-family: 'Open Sans';
  text-align: center;
}

.contact-form textarea:-ms-input-placeholder {
  font-family: 'Open Sans';
  text-align: center;
}

.contact-form textarea::-ms-input-placeholder {
  font-family: 'Open Sans';
  text-align: center;
}

.contact-form textarea::placeholder {
  font-family: 'Open Sans';
  text-align: center;
}

.contact-form button {
  width: 5em;
  height: 2em;
  font-size: 1.2rem;
  font-family: 'Cairo';
  border-radius: 6px;
  border-width: 0;
  background-color: #3d0000;
  color: white;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.contact-form button:hover {
  cursor: pointer;
  background-color: white;
  color: #3d0000;
}

@media screen and (max-width: 500px) {
  .contact-section {
    padding: 3rem 1rem;
    left: 6%;
    right: 6%;
  }
  #close-contact-container {
    height: 25px;
  }
  #contact-section h1, #contact-section h2 {
    font-size: 1.5em;
  }
  #contact-text {
    text-align: justify;
    padding: 1rem 2rem;
  }
}
/*# sourceMappingURL=contact.css.map */